<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944061414373-h2qmtb8j72m37sd14k2nbania9f0d34h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944061414373-h2qmtb8j72m37sd14k2nbania9f0d34h</string>
	<key>API_KEY</key>
	<string>AIzaSyC0KfLvcyor5BRoghX1IYnVflu1sW9n2zY</string>
	<key>GCM_SENDER_ID</key>
	<string>944061414373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplestsoft.twostrokecalc.ios</string>
	<key>PROJECT_ID</key>
	<string>strokecalc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>strokecalc-app.firebasestorage.app</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:944061414373:ios:a1b2c3d4e5f6474d0c</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
</dict>
</plist>
