<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944061414373-169sjt7rark3rbotaqed1j20798b0qnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944061414373-169sjt7rark3rbotaqed1j20798b0qnu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944061414373-c8bfvbjlbj1lg4cr9kb62gje5f08b4rk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABTexWHHjrEFJI1LQvxVDPjzzvCGymV0o</string>
	<key>GCM_SENDER_ID</key>
	<string>944061414373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplestsoft.twostrokecalc</string>
	<key>PROJECT_ID</key>
	<string>strokecalc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>strokecalc-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:944061414373:ios:fb48ce209698890e474d0c</string>
</dict>
</plist>
