<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>The tachometer tool uses the microphone to estimate engine RPM from exhaust sound.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The street dyno uses your location to estimate vehicle speed and power.</string>
	<key>NSMotionUsageDescription</key>
	<string>The vibration analyzer uses motion sensors to measure frame vibration.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.944061414373-169sjt7rark3rbotaqed1j20798b0qnu</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
